body{
    color: white;
    background-color: rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1{
    color: rgb(50, 180, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

h3{
    color: rgb(50, 180, 180);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

ul{
    color: rgb(190, 93, 190);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-style: italic, bold;
}


table {
    color: rgb(216, 97, 216);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border: 1;

}