body{
    color: white;
    background-color:  gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1{
    color: rgb(50, 180, 180);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

h3{
    color: rgb(50, 180, 180);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

ul{
    color: rgb(190, 93, 190);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: italic, bold;
}


table {
    color: rgb(216, 97, 216);
    /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    font-size: 15px;
    border-collapse: collapse;
    table-layout: fixed;

}

td {

    /*border: 5px, black;*/
<<<<<<< HEAD
    border: solid 8px rgba(174, 235, 174, 0.2);
    /*border: solid 8px rgb(174, 235, 174);*/
=======
    border: solid 2px rgba(174, 235, 174, 0.2);
>>>>>>> 70c4d75b5bee12354ce08e622ef4d391702facab

}