body {
    /*background-color:59A9FF;*/
    background:linear-gradient(to top right,red,#313173,green);
    background-repeat: no-repeat;

font-family:helvetica;
    color:white;
}

th {
    /*background-color:59A9FF;*/
    background-color: cyan;

font-family:helvetica;
    color:red;
}
tr {
   /*background-color:59A9FF;*/
   background-color: linear-gradient(blue, purple, black, cyan);


font-family:helvetica;
   color:rgb(247, 245, 245);
}
